    * {
        margin: 0;
        padding: 0;
        font-family: 'Poppons', sans-serif;
    }
    /* giao diện đăng nhập 
https://www.youtube.com/watch?v=PTGnpXbMU1U
*/
    
    .dangnhap {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        /* background: linear-gradient(45deg, #fead06, #c00def); */
        background: linear-gradient(45deg, #80cbc4, #e1bee7);
    }
    
    .container {
        position: relative;
        padding: 70px 40px;
        background: #fff;
        border-radius: 20px;
        box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    }
    
    .container h2 {
        font-size: 35px;
        color: #111;
        margin-bottom: 45px;
        line-height: 1em;
        font-weight: 500;
        padding-left: 10px;
        border-left: 5px solid #e91e63;
    }
    
    .container .inputBox {
        position: relative;
        width: 300px;
        height: 46px;
        margin-bottom: 30px;
    }
    
    .container .inputBox:last-child {
        margin-bottom: 0;
    }
    
    .container .inputBox input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        border: 1px solid #111;
        background: transparent;
        padding: 10px;
        border-radius: 4px;
        box-sizing: border-box;
        outline: none;
        font-size: 16px;
        color: #111;
        font-weight: 300;
    }
    
    .container .inputBox span {
        position: absolute;
        top: 1px;
        left: 1px;
        padding: 10px;
        display: inline-block;
        font-size: 16px;
        color: #111;
        font-weight: 300;
        transition: 0.5s;
        pointer-events: none;
    }
    
    .container .inputBox input:focus~span,
    .container .inputBox input:valid~span {
        transform: translateX(-10px) translateY(-32px);
        font-size: 16px;
    }
    
    .container .inputBox input[type="submit"] {
        background: #2196f3;
        color: #fff;
        border: none;
        max-width: 120px;
        cursor: pointer;
        font-weight: 500;
    }
    /* @media only screen and (max-width: 480px) {
    .container h2 {
        color: red;
    }
    .container {
        align-items: center;
        width: 400px;
    }
} */
    /* giao diện đăng nhập  */
    /* giao diện menu */
    
    .menu {
        position: absolute;
        top: 0;
        left: 0;
        list-style: none;
        padding-top: 65px;
    }
    
    .menu2 {
        width: 230px;
        border-radius: 8px;
        overflow: hidden;
    }
    
    .item2 {
        border: 0.5px solid #2980b9;
        overflow: hidden;
    }
    
    .item2 ion-icon {
        font-size: 23px;
        color: #fff;
    }
    
    .item2 a {
        font-size: 20px;
        text-decoration: none;
        color: white;
    }
    
    .item2 a:hover {
        color: white;
    }
    
    .btn2 {
        display: block;
        padding: 16px 20px;
        background: #3498db;
        color: white;
        position: relative;
    }
    
    .btn2::before {
        content: "";
        position: absolute;
        width: 14px;
        height: 14px;
        background: #3498db;
        left: 20px;
        bottom: -7px;
        transform: rotate(45deg);
    }
    
    .btn2 i {
        margin-right: 10px;
    }
    
    .smenu {
        background: #333;
        overflow: hidden;
        transition: max-height 0.3s;
        max-height: 0;
    }
    
    .smenu a:hover {
        color: white;
        text-shadow: 1px 1px 5px wheat;
    }
    
    .smenu a {
        display: block;
        padding: 16px 26px;
        color: white;
        font-size: 17px;
        margin: 4px 0;
        position: relative;
    }
    
    .smenu a::before {
        color: white;
        content: "";
        position: absolute;
        width: 6px;
        height: 100%;
        background: #3498db;
        left: 0;
        top: 0;
        transition: 0.3s;
        opacity: 0;
    }
    
    .smenu a:hover::before {
        opacity: 1;
    }
    
    .item2:target .smenu {
        max-height: 20em;
    }
    /* giao diện menu */
    /* nội dung */
    
    .content {
        border: 1px solid black;
        width: 1260px;
        height: auto;
        margin-left: 240px;
        margin-top: 11px;
        border-radius: 5px;
    }
    /*  giao diện  header menu user*/
    
    .haeder {
        border: 1px solid #2980b9;
        height: 55px;
        background-color: #2980b9;
        position: relative;
    }
    
    .haeder h3 {
        color: #fff;
        padding: 10px;
        float: left;
        margin-right: 1050px;
    }
    
    .haeder img {
        margin-top: 6px;
        border-radius: 50%;
        float: left;
        margin-right: 10px;
        position: relative;
    }
    
    .br-top-radius {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    
    .br-bot-radius {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    
    .haeder ul li {
        color: #fff;
        list-style-type: none;
        position: relative;
    }
    
    .haeder ul li p {
        margin-top: 15px;
    }
    
    .sub-menu li {
        background-color: #FAFAFA;
        height: 25px;
        line-height: 25px;
        width: 180px;
        font-size: 15px;
        padding-left: 5px;
        border-bottom: 1px solid #fff;
    }
    
    .sub-menu li a {
        text-decoration: none;
        color: #111;
    }
    
    .sub-menu li:hover {
        background-color: #e6e6e6;
    }
    
    .haeder .sub-menu {
        position: absolute;
        right: 30px;
        top: 20px;
        display: none;
    }
    
    .haeder:hover .sub-menu {
        display: block;
    }
    /*  giao diện  header menu user*/
    
    .test1 {
        color: blue
    }